section.juicer-feed-section h2 {
    margin-bottom: 30px;
  }
  section.juicer-feed-section .juicer-feed h1.referral {
    display: none;
  }
  section.juicer-feed-section .juicer-feed .j-paginate {
    border: none;
  }
  section.juicer-feed-section .social-link {
    color: black !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }
  
  .juicer-feed {
    width: 100%;
    float: none;
  }
  
  .juicer-feed p {
    font-family: "Lato", sans-serif;
  }
  
  .juicer-feed ul.j-filters li {
    width: auto;
    color: #fff;
    margin-left: -2px;
  }
  
  .juicer-feed ul.j-filters {
    width: 100%;
    display: inline-block;
    justify-content: normal;
  }
  
  /* change icon color*/
  .juicer-feed ul.j-filters li:hover:after, .juicer-feed ul.j-filters li.selected:after, .juicer-feed ul.j-filters li.highlight:after {
    background: linear-gradient(to right, #0b8261 0%, #0b8261 49%, #0b8261 49%, #ffffff 49%, #ffffff 51%, #522c1b 51%, #522c1b 51%);
    display: block;
    transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    opacity: 1;
  }
  
  .j-facebook:before {
    color: #3b5998;
  }
  
  li.j-instagram:before {
    color: black;
  }
  
  .j-instagram:after {
    color: black;
  }
  
  .j-twitter:before {
    color: #00aced;
  }
  
  .j-linkedin::before {
    color: #0077B5;
  }
  
  .juicer-feed .j-title {
    font-weight: normal;
  }
  
  .j-title {
    font-weight: normal;
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin: 0px;
  }
  
  .juicer-feed ul.filters li.j-title:hover:after {
    display: none;
  }
  
  .juicer-feed ul.filters li.all {
    color: #0B8261;
    font-size: 17px;
    padding-bottom: 12px;
  }
  
  .juicer-feed ul.j-filters li {
    font-size: 20px;
  }
  
  .juicer-feed ul.filters li.all:before {
    display: none;
  }
  
  .all:before {
    display: none;
  }
  
  /*change szie*/
  .juicer-feed ul.j-filters li:before {
    font-size: 20px;
  }
  
  /*social feed change style*/
  .social-grid {
    font-family: "Oswald", sans-serif;
  }
  
  .social-icon-list a {
    margin-left: 0.7rem;
  }
  
  .juicer-feed.modern li.feed-item.words .j-overlay-text .j-message {
    font-family: "Lato", sans-serif;
  }
  
  .juicer-feed .j-paginate {
    color: white;
    background-color: #0B8261;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    border: 1px solid transparent;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .j-loading {
    border-color: #0B8261;
  }
  
  .juicer-feed.modern li.feed-item {
    background-color: white !important;
    background: white !important;
  }
  
  .juicer-feed .j-blog {
    background: rgba(0, 0, 0, 0);
    color: #FF6600 !important;
  }
  
  .social-link {
    color: black !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }
  
  #page-full-width.global-class.global-class-class .so-widget-social-media-juicer-widget .juicer-cust.column {
    background: #f8f8f8;
  }